snippet beg "beg"
#!/usr/bin/env python
# -*- coding: utf-8 -*-


endsnippet

snippet imp "import"
import ${0:module}
endsnippet

snippet fimp "from * import"
from $0 import $1
endsnippet

snippet ifmain "if name"
if __name__ == '__main__':
	${0:main()}
endsnippet

# __magic__
snippet _
def __${1:init}__(self, $2):
	$3
endsnippet

# __module(nn.Module)__
snippet _net
class $1(nn.Module):
	def __init__(self):
		super().__init__()
			$2

	def forward(self, x):
		pass
endsnippet
